.selectionview {
  flex-basis: 50%;
}

.viewcontainer {
  background-color: rgb(99, 188, 188);
  min-height: 85vh;
  padding: 5px 30px;
}

.title {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  color: Black;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
