.nav {
  display: flex;
  flex: 1;
  height: 70px;
  background-color: #ff9900;
  align-items: center;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 70px;
  margin-left: auto;
}

.nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
}

.nav ul .hover :hover {
  cursor: pointer;
  border-bottom: 2px dotted rgb(255, 255, 103);
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li span {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .nav ul {
    display: flex;
    flex: column;
  }
}

.title {
  color: black;
  margin: 20px;
}
