.form {
  text-align: center;
}
.input {
  margin-bottom: 10px;
}

.button {
  background-color: orange;
  border: white;
  color: white;
  margin: 10px;
  padding: 2px 15px;
  border-radius: 5%;
  font-weight: bold;
}
