.img {
  max-width: 510px;
  height: auto;
}

.mainbox {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 90vh;
}

.title {
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 6rem;
}

.para {
  position: absolute;
  top: 45rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
